---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE, sortPostsByDate } from "../utils/posts";
import { buildNavigationGroups } from "../utils/navigation";
import ArchiveHero from "../components/home/ArchiveHero.astro";
import BlogGrass from "../components/home/BlogGrass.astro";
import GitHubGrass from "../components/home/GitHubGrass.astro";
import LatestPosts from "../components/home/LatestPosts.astro";
import PortfolioCta from "../components/home/PortfolioCta.astro";
import TopicIndex from "../components/home/TopicIndex.astro";

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => !data.draft));
const navigationGroups = buildNavigationGroups(posts);
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  minimalHome={true}
>
  <ArchiveHero />
  <PortfolioCta />
  <BlogGrass posts={posts} />
  <GitHubGrass username="guseoh" />
  <div class="home-content-grid">
    <TopicIndex groups={navigationGroups} />
    <LatestPosts posts={posts} />
  </div>
</BaseLayout>

